#securite {
  min-height: 100vh;
  background: url("/casquebg.jpg") no-repeat center/cover fixed;
  & h2 {
    text-align: center;
    margin: 20px 0 30px;
    width: 70%;
    max-width: 800px;
    font-size: 1.5rem;
  }
  & p {
    width: 70%;
    max-width: 800px;
    text-align: justify;
    color: #e8e2d9;
    font-size: 1.1rem;
    margin-bottom: 30px;
  }
}

.securite-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  min-height: 100vh;
  padding: 150px 50px 10px;
}

.securite-title {
  color: #a39073;
}

.securite-equipment {
  display: flex;
  width: 70%;
  max-width: 800px;
  margin-bottom: 50px;
  font-size: 1.1rem;
}

.securite-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #978365d2;
  border-radius: 7px 0 0 7px;
  color: #e8e2d9;
  width: 70%;
  max-width: 800px;
  gap: 10px;
  list-style: none;
  text-align: center;
}
.swiper {
  z-index: 0;
}
.mySwiper {
  background-color: #978365d2;
  width: 250px;
  height: 250px;
  z-index: 0;
}
.securite-photo {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1000px) {
  #securite {
    & h2,
    p {
      width: 90%;
    }
  }
  .securite-equipment {
    width: 90%;
  }
  .securite-list {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  #securite h2 {
    margin-top: 10px;
  }
  .securite-container {
    padding-top: 150px;
  }
  .securite-equipment {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .securite-list {
    border-radius: 7px;
    margin-right: 0;
    padding: 50px;
  }
  .mySwiper {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 600px) {
  #securite h2 {
    font-size: 1.5rem;
  }
  .securite-container {
    padding: 150px 0px 20px 0px;
  }
  .securite-equipment {
    width: 100%;
    margin: 1px;
  }
  .securite-list {
    padding: 30px;
    width: 100%;
  }
  .mySwiper {
    width: 120px;
    height: 120px;
  }
}

@media screen and (max-width: 380px) {
  #securite {
    & h2 {
      font-size: 1.2rem;
    }
    & p,
    li {
      font-size: 1rem;
    }
  }
}
