.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: #a39073;
  overflow-y: scroll;
  padding: 20px;
}
.modal-close {
  width: 30px;
  position: fixed;
  right: 30px;
}

.modal li {
  list-style: none;
}
