#main {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  min-height: 690px;
  color: #e8e2d9;
  padding-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  position: relative;
}

.hero-title {
  width: 45rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
  opacity: 0;
  margin-bottom: 500px;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.hero-slogan {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  color: #e8e2d9;
}

.hero-name {
  font-style: italic;
  font-size: 4rem;
  font-weight: 700;
  color: #a39073;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-name span {
  color: #e8e2d9;
  font-size: 2.5rem;
}

.hero-description {
  font-size: 1.5rem;
  font-weight: 400;
  color: #e8e2d9;
}

@media screen and (max-width: 1700px) {
  .hero {
    position: static;
  }
}

@media screen and (max-width: 1350px) {
  .hero {
    flex-direction: column;
    gap: 50px;
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .hero-title {
    width: 100%;
  }

  .hero-slogan {
    font-size: 1.1rem;
    width: 75%;
  }

  .hero-name span {
    font-size: 2rem;
    width: 75%;
  }

  .hero-description {
    font-size: 1.2rem;
    text-align: justify;
    width: 70%;
  }
}

@media screen and (max-width: 650px) {
  .hero-description {
    display: none;
  }

  .hero-name {
    font-size: 3rem;
  }

  .hero-name span {
    font-size: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .hero-name {
    font-size: 2.2rem;
  }

  .hero-name span {
    margin-top: 20px;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 340px) {
  .hero-name {
    font-size: 1.8rem;
  }

  .hero-name span {
    font-size: 1rem;
  }

  .hero-slogan {
    font-size: 1rem;
  }
}